.Header
  .p グループを作成しました。
.wrapper
  .contents-side
    .contents-side__header
      %p.contents-side__header__name 西村
      .contents-side__header__manu
        .contents-side__header__manu__setting 
          =link_to "", class: "Contents__btn Contents__btn--facebook" do
            = fa_icon 'edit', class: "Contents__btn--icon"
        .contents-side__header__manu__setting2
          =link_to "", class: "Contents__btn Contents__btn--facebook" do
            = fa_icon 'gear ', class: "Contents__btn--icon"
    %span<>
    %span<>
    .contents-side__main
      .contents-side__main__member
        %p.contents-side__main__member__name test
        %p.contents-side__main__member__message test
  .contents-main
    .contents-main__header
      .contents-main__header__font-box
        .contents-main__header__font-box__font test
        .contents-main__header__font-box__font2 test
       
      .contents-main__header__edit-btn Edit
    .contents-main__main
      .contents-box
        .contents-main__main__font-box
          .contents-main__main__font-box__font test
          .contents-main__main__font-box__font2 test
        .contents-main__main__font3 test
      .contents-main__main__font-box2
        .contents-box
          .contents-main__main__font-box
            .contents-main__main__font-box__font test
            .contents-main__main__font-box__font2 test
        .contents-main__main__font3 test
    .contents-main__bottom
      %input#message_content.contents-main__bottom__2{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
      .contents-main__bottom__icon
        =link_to "", class: "Contents__btn Contents__btn--facebook" do
          = fa_icon 'file-picture-o ', class: "Contents__btn--icon"
      .contents-main__bottom__send-btn Send