.Header
  .Header__logo
    SNS
.Contents
  .Contents__message
    followe me!
  =link_to "https://www.facebook.com/", class: "Contents__btn Contents__btn--facebook" do
    = fa_icon 'facebook', class: "Contents__btn--icon"
    %span<>
    Facebook
  =link_to "https://twitter.com/", class: "Contents__btn Contents__btn--twitter" do
    = fa_icon 'twitter', class: "Contents__btn--icon"
    %span<>
    Twitter
  =link_to "https://www.instagram.com/", class: "Contents__btn Contents__btn--instagram" do
    = fa_icon 'instagram', class: "Contents__btn--icon"
    %span<>
    Instagram